html {
    font-size: 1em;
    line-height: 1.4;

}

container {
   /* width: 100%;*/
 padding: 80px 120px;
}

.description{
background-color:grey;
color: white;
padding:10px;
margin:10px;
}



#projectdetailswrapper{
/*width:100%;
height:100%;*/

    padding: 3px;
    margin:5px;
}
#projectView{
    /*width: 300px;
    height:300px;*/

    margin-right: 5px;
    overflow-y: auto;
    float: left;
    cursor: pointer;

    padding:10px;
     background-color: #f1f1f1;
      height: 100%;
      width:200px;
}
#detailsView{

    overflow-y: auto;


}
#notesection{

}

.notedetails
{
    width: 300px;
    height:300px;
   /*position: relative;  */       /* Very important, for appending child <div>s with absolute positioning later */
    margin:5px;
   /* padding:5px;*/
    background-color: #f4e1d2;

  float:left;
    overflow: no-display;


}


.newnotedetails
{
    width: 250px;
    height:300px;
    /*position: relative;   */      /* Very important, for appending child <div>s with absolute positioning later */
   margin:3px;
    background-color: grey;

    float:left;
    overflow: no-display;


}
.title{
width:240px;
color:white;
}
.list {

    padding: 7px;
    margin: 7px;
    background-color: #b6b786;
    width:auto;
    border: 2px hidden #b6b786;
    border-radius: 10px;
}
.newItem {

    padding: 7px;
    margin: 7px;
    background-color: #129ee4;
    width:auto;
}
.list:hover {



   /* width:auto;*/
    border:1px groove #555603;
}

.noteName{
background-color: #50394c;
color:white;
height:35px;
}

#noteTitle{
background-color: #50394c;
color:white;
height:35px;
}

.notecaption{
background-color: #ccb463;

height:35px;
}

.deleteBtn{
    border: none;
    background: url('/static/img/delete_20x20.png') no-repeat;

    float:right;
    padding:2px;
    margin:2px;
    height:20px;
    width:20px;

position:relative;

}
.deleteBtn:hover{
border:1px solid white;
}
.addBtn:hover{
border:1px solid white;
}
.editBtn:hover{
border:1px solid white;
}
.addBtn{
    border: none;
    background: url('/static/img/add_64x64.png') no-repeat;

    padding:2px;
    margin:2px;
    height:128px;
    width:128px;



}

.editBtn{
    border: none;
    background: url('/static/img/edit_20x20.png') no-repeat;
    padding:2px;
    margin:2px;
     float:right;
    height:20px;
    width:20px;

position:relative;

}

.prjName{

}
.prjDesc{
text-align: justify;
letter-spacing: 3px;
 word-spacing: 10px;
 padding:2px;
}

.noteDesc{
overflow-x:auto;

}
