html {
    font-size: 1em;
    line-height: 1.4;

}

container {
   /* width: 100%;*/
 padding: 80px 120px;
}

.description{
background-color:grey;
color: white;
padding:10px;
margin:10px;
}



#projectdetailswrapper{
/*width:100%;
height:100%;*/

    padding: 3px;
    margin:5px;
}
#projectView{
    /*width: 300px;
    height:300px;*/

    margin-right: 5px;
    overflow-y: auto;
    float: left;
    cursor: pointer;

    padding:10px;
}
#detailsView{

    overflow-y: auto;


}
#notesection{

}

.notedetails
{
    width: 250px;
    height:300px;
    /*position: relative;   */      /* Very important, for appending child <div>s with absolute positioning later */
   margin:3px;
    background-color: #f4e1d2;

    float:left;
    overflow: no-display;


}


.newnotedetails
{
    width: 250px;
    height:300px;
    /*position: relative;   */      /* Very important, for appending child <div>s with absolute positioning later */
   margin:3px;
    background-color: grey;

    float:left;
    overflow: no-display;


}

.list {


    border: 1px solid grey;
    padding: 7px;
    margin: 7px;
    background-color: grey;
    color:white;
}

.list h3 {
    padding-left: 7px;
    color: white;
}

.noteName{
background-color: #50394c;
color:white;
height:35px;
}

#noteTitle{
background-color: #50394c;
color:white;
height:35px;
}

.deleteBtn{
  /*  border: none;*/
    background: url('/static/img/delete_64x64.png') no-repeat;

    float:right;
    padding:2px;
    margin:2px;
    height:20px;
    width:20px;



}

.editBtn{
  /*  border: none;*/
    background: url('/static/img/edit.png') no-repeat;


    padding:2px;
    margin:2px;
    height:20px;
    width:20px;



}

.prjName{

}
.prjDesc{
text-align: justify;
letter-spacing: 3px;
 word-spacing: 10px;
 padding:2px;
}

.noteDesc{
overflow-x:auto;

}